/* ==========================================================================
   FOOTER STYLES
   ========================================================================== */

.main-footer {
	text-align: center;
	background-color: #ff2e63;
	padding-top: 30px;
	padding-bottom: 500px;
	margin: 0;

	.footer-text {
		color: #fff;
		font-size: 0.6em;
		font-weight: 300;
	}
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 480px) {

}

@media (min-width: 768px) {

	.main-footer {
		padding: 10em 0;
		.footer-text {
			font-size: 0.8em;
		}
	}

}

@media (min-width: 1000px) {

}

@media (min-width: 1280px) {

}